/********** HEADER **********/
header {
  margin-top: 0 !important;
  padding: 10px !important;
}

/****************************/


/***** PLAYER CONTAINER *****/

.lifeStats {
  font-size: 2rem;
  color: blue;
}

/* player container */
#player1, #player2 {
  border: 2px solid black;
}

/* robot images */
.robotImage {
  width: 400px;
  max-width: 100%;
  height: 400px;
}

/* button container */
.player-moves {
  margin: 10px;
  padding: 10px;
}

/* button moves */
.move {
  margin: 5px;
}


/****************************/


/********** COLORS **********/
.text-neon-green {
  color: rgba(4, 250, 5, 1);
}

.background-black {
  background-color: rgba(4, 4, 4, 1)
}

.box-shadow-neon {
  box-shadow: 0 0 50px rgba(4, 250, 5, 1);
}

/****************************/


/******** MOBILE ***********/

@media screen and (max-width: 700px) {
    .robotImage {
      width: 200px;
      height:200px;
    }
}

/****************************/
